:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family: "Lumanosimo", cursive;
}

@media (max-width: 390px) {
  body {
    background-color: bisque;
  }
  h3 {
    color: #fffbfd;
    opacity: none;
  }
}

body {
  margin-top: 100px;
  background-image: url("../images/beachSunset.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.homepage-body {
  margin-top: 200px;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background-color: #f4f2fe;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.container {
  display: flex;
  margin: 30px 0;
}

.container,
p {
  margin: 10px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

.email {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

#contact-info {
  font-size: 30px;
}
